{% extends 'base.html' %}

{% block content %}

<h2>Weather</h2>
{{ current_weather }}, {{ current_temperature }} °C

<h2>Tank level</h2>
{{ tank_level }}%

<h2>Upcoming schedules</h2>
<table class="w3-table w3-striped w3-border w3-margin-top">
    <thead>
        <tr class="w3-light-grey">
            <th>zone</th>
            <th>program</th>
            <th>start</th>
            <th>duration</th>
        </tr>
    </thead>
    <tbody>
        {% for schedule in schedule_list %}
        <tr>
            <td>{{ schedule.request.zone.name }}</td>
            <td>{{ schedule.request.program.name }}</td>
            <td>{{ schedule.start.isoformat }}</td>
            <td>{{ schedule.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Upcoming actions</h2>
<table class="w3-table w3-striped w3-border w3-margin-top">
    <thead>
        <tr class="w3-light-grey">
            <th>zone</th>
            <th>channel</th>
            <th>start</th>
            <th>command</th>
        </tr>
    </thead>
    <tbody>
        {% for action in action_list %}
        <tr>
            <td>{{ action.schedule.request.zone.name }}</td>
            <td>{{ action.channel.name }}</td>
            <td>{{ action.datetime.isoformat }}</td>
            <td>{{ action.commandname }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h2>Log</h2>
<table class="w3-table w3-striped w3-border w3-margin-top">
    <thead>
        <tr class="w3-light-grey">
            <th>time</th>
            <th>entry</th>
        </tr>
    </thead>
    <tbody>
        {% for log in log_list %}
        <tr>
            <td>{{ log.datetime }}</td>
            <td>{{ log.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}