<nav>
    <a href="{% url 'home:home'     %}" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>HOME</b></a>
    <a href="{% url 'programs:home' %}" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>PROGRAMS</b></a>
    <a href="{% url 'schedules:overview' %}" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>SCHEDULE</b></a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>STATS</b></a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>SETTINGS</b></a>
    <a href="{% url 'home:about'    %}" class="w3-bar-item w3-button w3-padding w3-hover-theme-grey"><b>ABOUT</b></a>
</nav>