{% extends 'programs/create_base.html' %}

{% block extra_fields %}

<div class="w3-cell-row">
    <div class="w3-padding w3-cell w3-cell-top form-label">{{ form.date_end.label }}</div>
    <div class="w3-padding w3-cell w3-cell-top">{{ form.date_end.errors }}{{ form.date_end }}</div>
</div>
<div class="w3-cell-row">
    <div class="w3-padding w3-cell w3-cell-top form-label">{{ form.period.label }}</div>
    <div class="w3-padding w3-cell w3-cell-top">{{ form.period.errors }}{{ form.period }}</div>
</div>
<div class="w3-cell-row">
    <div class="w3-padding w3-cell w3-cell-top form-label">{{ form.time_start.label }}</div>
    <div class="w3-padding w3-cell w3-cell-top">{{ form.time_start.errors }}{{ form.time_start }}</div>
</div>
<div class="w3-cell-row">
    <div class="w3-padding w3-cell w3-cell-top form-label">{{ form.time_end.label }}</div>
    <div class="w3-padding w3-cell w3-cell-top">{{ form.time_end.errors }}{{ form.time_end }}</div>
</div>

{% endblock %}