{% extends 'base.html' %}

{% block content %}

<a href="{% url 'programs:create-run-once' %}" class="w3-button w3-round w3-light-grey w3-text-dark-grey w3-border w3-small w3-bold"> Run-Once </a>
<a href="{% url 'programs:create-periodic' %}" class="w3-button w3-round w3-light-grey w3-text-dark-grey w3-border w3-small w3-bold"> Periodic </a>
<a href="{% url 'programs:create-weekly' %}"   class="w3-button w3-round w3-light-grey w3-text-dark-grey w3-border w3-small w3-bold"> Weekly </a>

{% endblock %}